<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  {{- if .Params.thumbnail -}}
  <div>
    <figure>
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
      </a>
    </figure>
  </div>
  {{- end -}}
  <div>
    <header class="post-list-title">
      <a href="{{ .Permalink }}">
        <h4 itemprop="headline">{{ .Title }}</h4>
      </a>
      <p class="post-metadata row">
        <span class="row-item">
          <span class="fa fa-clock-o"></span>
          <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
          <span> by {{ .Params.author}} in </span>
        </span>
        {{- if .Params.categories -}}
        <span class="row-item">
          <span class="fa fa-folder"></span>
          {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize | lower }}" rel="category">{{ . | humanize | title }}</a>{{ end }}
        </span>
        {{- end -}}
      </p>
    </header>
    <div class="post-list-summary" itemprop="description">
        {{- $page := . -}}
        {{- with .Description -}}
          {{ . | markdownify }} <a href="{{ $page.Permalink }}">[Read more...]</a>
        {{- else -}}
          <!-- {{ .Summary | markdownify }}{{ if .Truncated }} <a href="{{ $page.Permalink }}">[Read more...]</a>{{ end }} -->
	  <!-- fix relative URLs of blogposts -->
          {{ replaceRE " (src|href)=\"([^\"/:]([^\":]|:[^/])*)\"" (add (add " $1=\"" $.Permalink) "$2\"") .Content | safeHTML }}
        {{- end -}}
    </div>
  </div>
</article>
