{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) -}}
<ul class="menu">
  <li class="{{ if .Paginator.HasPrev }}"><a class="pagination" href="{{ .Paginator.Prev.URL | relURL }}">{{else}} disabled">{{end}} <span>&lt;</span> neuere Einträge{{ if .Paginator.HasPrev }}</a>{{end}}</li>
  <li class="pagination disabled">{{ .Paginator.PageNumber }}</li>
  <li class="{{ if .Paginator.HasNext }}"><a class="pagination" href="{{ .Paginator.Next.URL | relURL }}">{{else}} disabled">{{end}}ältere Einträge <span>&gt;</span>{{ if .Paginator.HasNext }}</a>{{end}}</li>
</ul>
{{- end -}}
