{{- if .Site.Params.widgets.doorsensor -}}
<div class="widget">
	<script src="/modules/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		try{
			$(document).ready(function() {
				$("#door_status").text("404: Data not available.");
				$.get('https://crocell.crystaldown.de/door',function(data){
					$("#door_status").text(data);
				});
			});
		}catch(err){
			$("#door_status").text("broken");
		}
 </script>

	<header>
		<h4><span class="fa fa-key"></span> Türsensor</h4>
	</header>
	Door is <del><b><span id="door_status"></span></b></del> currently not to be trusted.
</div>
{{- end -}}
