<!-- ChaosSeminar Metadaten-Infobox -->
{{- with .Page.Params.Chaosseminar -}}
<div class="chaosseminar-info">
  <dl>
      <dt>Thema</dt><dd>{{- if .thema -}}{{ .thema }}{{- else -}}{{ $.Page.Params.title }}{{- end -}}</dd>
      <dt>Termin</dt><dd>{{- if .termin -}}{{ .termin }}{{- else -}}{{ dateFormat "2006-01-02" $.Page.Params.date }} 20:00{{- end -}}</dd>
      {{- if .ort -}}
      <dt>Ort</dt><dd>{{ .ort }}</dd>
      {{- end -}}
      <dt>Vortragende</dt><dd>{{ .vortragende }}</dd>
      <dt>Archiv</dt><dd>
      <!-- if .archive is a list: show all entries -->
      {{- if reflect.IsSlice .archiv -}}
	{{- if len .archiv -}}
	  <!-- set/guess labels for each entry -->
	  {{- $prefix := slice -}}
	  {{- $label  := slice -}}
	  {{- range .archiv -}}
	    {{- if (index . 0) -}}
	      {{ if in (index . 0) ":" }}
		{{- $p := (index (split (index . 0) ":") 0) -}}
		{{- $l := substr (index . 0) (add (len $p) 1) -}}
		{{- $prefix = $prefix | append $p -}}
		{{- if $l }}
		    {{- $label  = $label  | append $l -}}
		{{- else -}}
		    {{- $label  = $label  | append (path.Base (index . 1)) -}}
		{{- end -}}
	      {{- else -}}
		{{- $prefix = $prefix | append "" -}}
		{{- $label  = $label  | append (index . 0) -}}
	      {{- end -}}
	    {{- else if strings.HasSuffix (index . 1) "_slides.pdf" -}}	{{- $prefix = $prefix | append "Folien" }}  {{- $label = $label | append "PDF" }}
	    {{- else if strings.HasSuffix (index . 1) "_high.mp4" -}}	{{- $prefix = $prefix | append "Video" }}   {{- $label = $label | append "MP4 HD" }}
	    {{- else if strings.HasSuffix (index . 1) ".mp4" -}}	{{- $prefix = $prefix | append "Video" }}   {{- $label = $label | append "MP4" }}
	    {{- else if strings.HasSuffix (index . 1) ".m4v" -}}	{{- $prefix = $prefix | append "Video" }}   {{- $label = $label | append "M4V (iPod)" }}
	    {{- else if strings.HasSuffix (index . 1) ".3gp" -}}	{{- $prefix = $prefix | append "Video" }}   {{- $label = $label | append "3GPP" }}
	    {{- else if strings.HasSuffix (index . 1) ".ogv" -}}	{{- $prefix = $prefix | append "Video" }}   {{- $label = $label | append "Ogg Theora" }}
	    {{- else if strings.HasSuffix (index . 1) ".mp3" -}}	{{- $prefix = $prefix | append "Audio" }}   {{- $label = $label | append "MP3" }}
	    {{- else if strings.HasSuffix (index . 1) ".ogg" -}}	{{- $prefix = $prefix | append "Audio" }}   {{- $label = $label | append "Ogg Vorbis" }}
	    {{- else if strings.HasSuffix (index . 1) ".opus" -}}	{{- $prefix = $prefix | append "Audio" }}   {{- $label = $label | append "Opus" }}
	    {{- else -}}						{{- $prefix = $prefix | append "" }}	    {{- $label = $label | append (path.Base (index . 1)) }}
	    {{- end -}}
	  {{- end -}}
	  <!-- remember which .archive-entries have already been shown -->
	  {{- $.Scratch.Set "done" slice -}}
	  <!-- show all -->
	<ul>
	  <!-- slides -->
	  {{- range $i, $e := .archiv -}}
	    {{ if eq (index $prefix $i) "Folien" }}
	    <li>Folien: <a href="{{ index . 1 }}">{{ index $label $i }}</a>{{ template "mb" (index . 2) }}</li>
	    {{- $.Scratch.Add "done" . -}}
	    {{ end }}
	  {{- end -}}
	  <!-- videos -->
	  {{- range $i, $arch := .archiv -}}
	    {{ if eq (index $prefix $i) "Video" }}
	    <li>Video: <a href="{{ index . 1 }}">{{ index $label $i }}</a>{{ template "mb" (index . 2) }}</li>
	    {{- $.Scratch.Add "done" . -}}
	    {{ end }}
	  {{- end -}}
	  <!-- audio -->
	  {{- range $i, $arch := .archiv -}}
	    {{ if eq (index $prefix $i) "Audio" }}
	    <li>Audio: <a href="{{ index . 1 }}">{{ index $label $i }}</a>{{ template "mb" (index . 2) }}</li>
	    {{- $.Scratch.Add "done" . -}}
	    {{ end }}
	  {{- end -}}
	  <!-- other -->
	  {{- range $i, $arch := .archiv -}}
	    {{ if not (in ($.Scratch.Get "done") (index . 0)) }}
	    <li>
	      {{- if (index $prefix $i) -}}
		{{- index $prefix $i }}:{{ " " }}
	      {{- end -}}
	      <a href="{{ index . 1 }}">{{ index $label $i }}</a>{{ template "mb" (index . 2) }}</li>
	    {{- end -}}
	  {{- end -}}
	</ul>
	<!-- empty list: files probably not yet available -->
	{{- else -}}
	Noch keine Aufzeichnungsdateien verfügbar.
        {{- end -}}
      <!-- if .archive is no list, it's probably a message, so show it -->
      {{- else -}}
	{{ .archiv }}
      {{- end -}}
      </dd>
  </dl>
</div>
{{- end -}}
<!-- convert size in bytes to "xx.x MB" -->
{{- define "mb" -}}
    {{- if . -}}
	{{- " " }}({{ lang.NumFmt 1 (div (int .) 1048576.0) }} MB)
    {{- else -}}
    {{- end -}}
{{- end -}}
