<!-- get sorted list of past seminars -->
{{- $.Scratch.Set "seminars_past" slice -}}
{{- $.Scratch.Set "years" slice -}}
{{- range where .Site.Pages "Section" "ccc" -}}
    {{- if .Params.ChaosSeminar -}}
      {{- if .Params.date -}}
	{{- if lt (dateFormat "2006-01-02" .Params.date) (dateFormat "2006-01-02" now) -}}
	    {{- $.Scratch.Add "seminars_past" . -}}
	    {{- $.Scratch.Add "years" (dateFormat "2006" .Params.date) -}}
	{{- end -}}
      {{- end -}}
    {{- end -}}
{{- end -}}
{{- $years := uniq ($.Scratch.Get "years") -}}
{{- $seminars_past_sorted := sort ($.Scratch.Get "seminars_past") ".Params.date" "desc" -}}
<!-- list all past seminars, grouped by year -->
{{- range $year := $years -}}
<h3>{{ $year }}</h3>
<ul>
  {{- range $seminar := $seminars_past_sorted -}}
    {{- if eq (dateFormat "2006" $seminar.Params.date) $year -}}
    <li>{{ dateFormat "2006-01-02" .Params.date }}: <a href="{{ .RelPermalink }}">{{ if .Params.ChaosSeminar.thema }}{{ .Params.ChaosSeminar.thema }}{{ else }}{{ .Params.title }}{{ end }}</a></li>
    {{- end -}}
  {{- end -}}
</ul>
{{- end -}}
