<script type="text/javascript" src="/modules/pannellum.js"></script>
    <style>
    #pano_main{
        width: 600px;
        height: 400px;
    }
    </style>

<link rel="stylesheet" href="/modules/pannellum.css"/>
<div id="pano_main"></div>
<script>
pannellum.viewer('pano_main', {
    "default": {
        "firstScene": "main",
    },
    "scenes": {
        "main": {
                "type": "equirectangular",
                "panorama": "/images/pano_main.jpg",
                "autoLoad": true,
                "showZoomCtrl": false,
                "hotSpots": [
                    {
                        "pitch": -18.84,
                        "yaw": -60.88,
                        "type": "info",
                        "text": "Prusa I3 Hepheistos (WIP)",
                    },
                    {
                        "pitch": -47.11,
                        "yaw": -54.06,
                        "type": "info",
                        "text": "Kabelsalat",
                    },
                    {
                        "pitch": 0.47,
                        "yaw": -6.95,
                        "type": "info",
                        "text": "Prusa I3 Hepheistos (+Octoprint)",
                    },

                    {
                        "pitch": -10.11,
                        "yaw": 45.27,
                        "type": "info",
                        "text": "40W CO2 Lasercutter",
                    },
                    {
                        "pitch": -18.01,
                        "yaw": 83.42,
                        "type": "info",
                        "text": "Arbeitsplatz",
                    },
                    {
                        "pitch": 19.18,
                        "yaw": 89.74,
                        "type": "info",
                        "text": "Portal gun",
                    },

                    {
                        "pitch": 19.75,
                        "yaw": 119.25,
                        "type": "info",
                        "text": "FHD Beamer",
                    },
                    {
                        "pitch": -2.53,
                        "yaw": 109.92,
                        "type": "info",
                        "text": "Soundsystem",
                    },
                    {
                        "pitch": -3.32,
                        "yaw": 103.76,
                        "type": "info",
                        "text": "NAS",
                    },

                    {
                        "pitch": -1.02,
                        "yaw": 118.53,
                        "type": "info",
                        "text": "Funkgeräte",
                    },
                    {
                        "pitch": -5.16,
                        "yaw": 119.10,
                        "type": "info",
                        "text": "Laser",
                    },
                    {
                        "pitch": -12.30,
                        "yaw": 153.28,
                        "type": "info",
                        "text": "DerAndere",
                    },

                    {
                        "pitch": 15.11,
                        "yaw": -154.20,
                        "type": "info",
                        "text": "0731 / 2806434",
                    },
                    {
                        "pitch": -0.00,
                        "yaw": -81.55,
                        "type": "scene",
                        "text": "Werkstatt",
                        "sceneId": "werkstatt"
                    }

                    ]

        },
        "werkstatt": {
                "type": "equirectangular",
                "panorama": "/images/pano_werkstatt.jpg",
                "autoLoad": true,
                "showZoomCtrl": false,
                "debugHotSpot": true,
               "hotSpots": [
                    {
                        "pitch": 9.47,
                        "yaw": 5.38,
                        "type": "info",
                        "text": "Rigol",
                    },
                    {
                        "pitch": 2.19,
                        "yaw": 5.45,
                        "type": "info",
                        "text": "Hameg Spectrum Analyzer, DreamSourceLab Logic Analyzer",
                    },
                    {
                        "pitch": -12.67,
                        "yaw": 8.93,
                        "type": "info",
                        "text": "MBS10 Stereomikroskop",
                    },

                    {
                        "pitch": 3.48,
                        "yaw": 39.24,
                        "type": "info",
                        "text": "Säurebad",
                    },
                    {
                        "pitch": 9.47,
                        "yaw": 74.33,
                        "type": "info",
                        "text": "Jani's Schatzgrube",
                    },
                    {
                        "pitch": -17.89,
                        "yaw": 73.57,
                        "type": "info",
                        "text": "Stichsäge",
                    },

                    {
                        "pitch": -2.71,
                        "yaw": 114.77,
                        "type": "info",
                        "text": "Dremel",
                    },
                    {
                        "pitch": -4.02,
                        "yaw": 137.09,
                        "type": "info",
                        "text": "Standbohrmaschine",
                    },
                    {
                        "pitch": 4.47,
                        "yaw": 172.27,
                        "type": "info",
                        "text": "Elektronische Bauteile",
                    },

                    {
                        "pitch": -7.01,
                        "yaw": -151.30,
                        "type": "info",
                        "text": "EDV-Arbeitsplatz",
                    },
                    {
                        "pitch": -8.76,
                        "yaw": -121.74,
                        "type": "info",
                        "text": "Noch mehr Oszis",
                    },
                    {
                        "pitch": -0.86,
                        "yaw": -81.11,
                        "type": "info",
                        "text": "Work in progress",
                    },

                    {
                        "pitch": -9.90,
                        "yaw": -37.27,
                        "type": "info",
                        "text": "T962 Reflow ofen",
                    },
                    {
                        "pitch": -12.79,
                        "yaw": -22.31,
                        "type": "info",
                        "text": "SMD Reworkstation",
                    },
                    {
                        "pitch": -2.04,
                        "yaw": -7.03,
                        "type": "info",
                        "text": "Labornetzteile",
                    },
                    {
                        "pitch": 60.18,
                        "yaw": -108.61,
                        "type": "info",
                        "text": "Mobiler Hotspot",
                    },
                    {
                        "pitch": -3.74,
                        "yaw": 149.07,
                        "type": "scene",
                        "text": "Wohnzimmer",
                        "sceneId": "main"
                    }
                    ]    
        },
    }
});
</script>
